
body
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}

.section1
{
    padding-top: 11rem;
    padding-bottom: 11rem;
    width: 100% !important;
    display: table;
    position: relative;

}

.container
{
    position: relative;
    max-width: 1024px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}
.section1 .container .left
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.section1 .container .left .lefth4
{
    font-weight: 600;
    line-height: 1.5;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}
.colorText
{
    color: rgb(79, 70, 229);
}
.right
{
    display: flex;
    height: 550px;
    padding-left: 50px;   
}
.section1 .container .left .leftText
{
    color :rgb(148, 163, 184);
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 36rem;
}
.left-inner
{
    margin-top: 1.5rem;
    display :flex;
    justify-content:flex-start;
}
 .started
{
    margin-right: .5rem;
    display: block;
    border-width: 2px;
    padding: .15rem .9rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: .025em;
    color: rgb(255 255 255);
    background-color: rgb(79 70 229);
    border-radius: .375rem;
    margin-top: .3rem;
    margin-bottom: .3rem;
    text-decoration: inherit;
    transition-property: background-color;
    transition-duration: .5s;
}
.left-inner:hover .started
{
    background-color: rgb(62, 56, 179);
}
 .document .document
{
    display: inline-block;
    border-width: 2px;
    margin-top: .5rem;
    padding: 0.5rem 1.75rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: .025em;
    color: rgb(79, 70, 229);
    border-color: rgb(79 70 229);
    border: 1px solid;
    border-radius: .375rem;
    text-decoration: inherit;
    transition-property: background-color, color;
    transition-duration: .5s;



}
 .document:hover .document
{
    background-color: rgb(62, 56, 179);
    color: #fff;
}
.section2
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: rgb(243 244 246);
    border-top: 1px solid rgb(243 244 246);
    border-bottom: 1px solid rgb(243 244 246);
}
.logo img
{
    width: 100%;
    height: auto;
}
.section3
{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: rgb(249, 250, 251);
    position: relative;
}
.container2
{
    position: relative;
    max-width: 1024px;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Nunito Sans', sans-serif;
}
.text2
{
    line-height: 1.5;
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}
.container .image
{
    display: flex;
    padding-right: 50px;
    height: 470px;
}
.text3
{
    color: rgb(148 163 184);
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.625;
    text-align: center;
    font-size: 1rem;
    font-weight: 580;
}
.rightText
{
    display: flex;
    align-items: center;

}
.rightText .text2
{
    text-align: left !important;
}

.rightText .text3
{
    text-align: left!important;
}
.list
{
    list-style-type: none;
    margin-top: 1.5rem;
}
.flexList
{
    display: flex;
    margin-bottom: .25rem;
    
}
.findoutlink
{
    position: relative;
    border-style: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: .025em;
    color: rgb(79 70 229);
    text-decoration: inherit;
    cursor: pointer;
}
.findoutlink::after{
    position: absolute;
    content:'';
    left: 0;
    height:25px;
    width: 0;
    border-bottom: solid 3px rgb(79 70 229);
    transition: all .5s;
}
.findoutlink:hover::after
{
    width: 100%;
}
.padding
{
    padding-top: 6rem;
    padding-bottom: 6rem;
    justify-content: space-between;
}
.downloadBox
{
    color: rgb(22 28 45);
    background-color: #fff;
    width: 30rem;
    height: 40rem;
    margin-left: 8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .5rem;
    position: relative;

}
.insideBox
{
    display:flex;
    flex-direction: column;
    padding: 0 2rem;
}
.image2
{
    width: 95%;
    height: auto;
}
.download:hover .started
{
    background-color: rgb(62, 56, 179);
}
.download
{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.inputBox
{
    margin-bottom: 1.25rem;
    
}
.input
{
    margin-top: 1.5rem;
}
.inputLabel
{
    font-weight: bold;
}
.redText
{
    color: rgb(220 38 38);
}
.inputText
{
    position: relative;
    margin-top :.5rem;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
.inputText1
{
    padding-left:3rem;
    height: 2.5rem;
    width: 85%;
    border-radius: .25rem;
    border-width: 1px;
    border-color: inherit;
    background-color: transparent;
    outline: transparent solid 2px;   
}
.section4
{
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.font-medium
{
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
}
.margin-bottom
{
    margin-bottom: 1rem;
}
.textCenter
{
    text-align: center;
    padding-bottom: 2rem;
}
.center 
{
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
    
}
.profile
{
    display: flex;
    justify-content: space-between;
}
.profile1
{
    display: flex;
    width: 49%;
    height: 12rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .25rem;
}
.profileImage
{
    border-radius: 0.25rem;
}
.profileText
{
    width: 80%;
    height: 100%;
    margin-left: 2rem;
}
.start
{
    text-align: start !important;
}
.margin-low
{
    margin-bottom: .25rem !important;
    margin-top: .25rem !important;
}
.flex
{
    display: flex;
}
.margin-top
{
    margin-top: 6rem;
}
.innerText3
{
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}
.innerText2
{
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    display: flex;
    align-items: center;
    padding-left: 16px;
}
.center-row
{
    align-items: center;
}
.leftBoard
{
    width: 50%;
    height: 24rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .375rem;
}
.rightBoard
{
    width: 50%;
    height: 23rem;
    background-color: rgb(241, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: .375rem;
}
.text
{
    padding: 1.5rem 1rem;
}
.small-size
{
    font-size: 1.25em;
}
.mb5
{
    margin-bottom: 1.25rem;
}
.textXL
{
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.font-semiBold
{
    font-weight: 600;
}
.text4XL
{
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.mb0
{
    margin-bottom: 0;
}
.mb1
{
    margin-bottom: .25rem;
}
.mb2
{
    margin-bottom: .5rem!important;
}
.selfEnd
{
    align-self: flex-end;
}
.list-none
{
    list-style-type: none;
}
.text-base
{
    font-size: 1rem!important;
    line-height: 1.5rem!important;
}
.relative
{
    position: relative;
}
.br-gray
{
    background-color: rgb(249 250 251);
}
.containerAfter
{
    position: relative;
    max-width: 1280px;
    padding-right: 5rem;
    padding-left: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.column-center
{
    display: flex;
    justify-content: center;
}
.text3XL
{
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.mb6
{
    margin-bottom: 1.5rem;
}
.justifyCenter
{
    justify-content: center !important;
}
.dark-footer
{
   
   
}
.bg-dark
{
    border-top: none;
    background-color: rgb(25 33 50);
}
.text-gray
{
    color: rgb(229 231 235);
}
.pd-top1
{

    padding-top: 5rem;
}
svg
{
    border-bottom: none;
}
a
{
    color: inherit;
    text-decoration: inherit;
}
.text22px
{
    font-size: 22px;
}
img
{
    max-width: 100%;
    height: auto;
    display: block;
}
.smallIMG
{
    width: 40%;
}
.mt6
{
    margin-top: 1.5rem;
}
.inline 
{
    display: inline-block;
    margin-left: 2px;
    transition-duration: .6s;
    transition-property: all;

}
.block
{
    padding: .25rem;
    padding-left: .4rem;
    padding-right: .4rem;
    border:1px solid;
    border-color: #494a4a;
    border-radius: .225rem;
    transition-duration: .6s;
    transition-property: all;
}
.flex-start
{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
}
.inline:hover .block
{
    background-color: rgb(62, 56, 179);
    
}
.mt0
{
    margin-top: 0;
}
.mt10px
{
    margin-top: 5px;
}
.pd0
{
    padding-left: 0;
}
.m2
{
    margin-right: 0.5rem;
}
.footerList
{
    transition-duration: .5s;
    transition-property: color;
}
.footerList:hover
{
    color:#808183
}
.emailIcon
{
    position: absolute;
    left: 10px;
    top: 30%;
}
.absolute
{
    position: absolute;
    top: 200%;
    left: 6.4rem;
    width: 115%;
}
.py10px
{
    padding-top: 10px;
    padding-bottom: 10px;

}
.px0 
{
    padding-left: 0;
    padding-right: 0;
}

.border-top
{
    border-top: 1px solid;
    border-color: rgb(42, 28, 77);
}
.footerImg
{
    width: 2rem;
    height: auto;
    border-radius: .02rem;
}
.textCenter
{
    align-items: center;
}
.body
{
    margin: 0;
    box-sizing: border-box;
}
/* @media (min-width: 1200px)
{
    .container
    {
        max-width: 1280px;
        padding-right: 5rem;
        padding-left: 5rem;
    }
} */
@media (min-width: 46.25em ) and (max-width: 63.9375em)
{
    .section1
    {
        padding-top: 6rem;
        padding-bottom: 6rem;
        display: table;
    }
    .container
    {
        max-width: 768px;
        padding-right: 1rem;
        padding-left: 1rem;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .container2
    {
    position: relative;
    max-width: 768px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    }
    .containerAfter
    {
        padding: 0;
        max-width: 740px;
    }
    .downloadBox
    {
        width: auto;
    }
    .right
    {
        height: auto;
        display: flex !important;
        justify-content: center;
    }
    .container .image
    {
        height: auto;
        padding-right: 20px;
    }
    .downloadBox
    {
        margin-left: 2.5rem;
    }
    .profile1
    {
        flex-direction: column;
        height: auto;
    }
    .profileImg 
    {
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1rem;
    }
    .profileText
    {
        text-align: center;
    }
    .centerTxt
    {
        text-align: center !important;
    }
    .flex-column
    {
        flex-direction: column !important;
    }
    .innerText3
    {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .innerText2
    {
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .row
    {
        max-width: 100%;
    }
}





.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-1,
    .m-2,
    .m-3,
    .m-4,
    .m-5,
    .m-6,
    .m-7,
    .m-8,
    .m-9,
    .m-10,
    .m-11,
    .m-12 {
        display: block;
    }

    .m-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .m-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .m-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .m-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .m-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .m-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .m-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .m-o-1 {
        margin-left: 8.33333%;
    }

    .m-o-2 {
        margin-left: 16.66667%;
    }

    .m-o-3 {
        margin-left: 25%;
    }

    .m-o-4 {
        margin-left: 33.33333%;
    }

    .m-o-5 {
        margin-left: 41.66667%;
    }

    .m-o-6 {
        margin-left: 50%;
    }

    .m-o-7 {
        margin-left: 58.33333%;
    }

    .m-o-8 {
        margin-left: 66.66667%;
    }

    .m-o-9 {
        margin-left: 75%;
    }

    .m-o-10 {
        margin-left: 83.33333%;
    }

    .m-o-11 {
        margin-left: 91.66667%;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .l-0 {
        display: none;
    }

    .l-1,
    .l-2,
    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-8,
    .l-9,
    .l-10,
    .l-11,
    .l-12 {
        display: block;
    }

    .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .l-o-1 {
        margin-left: 8.33333%;
    }

    .l-o-2 {
        margin-left: 16.66667%;
    }

    .l-o-3 {
        margin-left: 25%;
    }

    .l-o-4 {
        margin-left: 33.33333%;
    }

    .l-o-5 {
        margin-left: 41.66667%;
    }

    .l-o-6 {
        margin-left: 50%;
    }

    .l-o-7 {
        margin-left: 58.33333%;
    }

    .l-o-8 {
        margin-left: 66.66667%;
    }

    .l-o-9 {
        margin-left: 75%;
    }

    .l-o-10 {
        margin-left: 83.33333%;
    }

    .l-o-11 {
        margin-left: 91.66667%;
    }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 740px;
    }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .row.sm-gutter {
        margin-left: -5px;
        margin-right: -5px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .wide .row.sm-gutter .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .wide .l-0 {
        display: none;
    }

    .wide .l-1,
    .wide .l-2,
    .wide .l-2-4,
    .wide .l-3,
    .wide .l-4,
    .wide .l-5,
    .wide .l-6,
    .wide .l-7,
    .wide .l-8,
    .wide .l-9,
    .wide .l-10,
    .wide .l-11,
    .wide .l-12 {
        display: block;
    }

    .wide .l-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }

    .wide .l-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .wide .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .wide .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .wide .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .wide .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .wide .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .wide .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .wide .l-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }

    .wide .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .wide .l-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }

    .wide .l-11 {
        flex: 0 0 91.66667%;
        max-width: 91.66667%;
    }

    .wide .l-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .wide .l-o-1 {
        margin-left: 8.33333%;
    }

    .wide .l-o-2 {
        margin-left: 16.66667%;
    }

    .wide .l-o-3 {
        margin-left: 25%;
    }

    .wide .l-o-4 {
        margin-left: 33.33333%;
    }

    .wide .l-o-5 {
        margin-left: 41.66667%;
    }

    .wide .l-o-6 {
        margin-left: 50%;
    }

    .wide .l-o-7 {
        margin-left: 58.33333%;
    }

    .wide .l-o-8 {
        margin-left: 66.66667%;
    }

    .wide .l-o-9 {
        margin-left: 75%;
    }

    .wide .l-o-10 {
        margin-left: 83.33333%;
    }

    .wide .l-o-11 {
        margin-left: 91.66667%;
    }
}