
body
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}

.section1
{
    padding-top: 11rem;
    padding-bottom: 11rem;
    width: 100%;
    display: table;
    position: relative;

}

.container
{
    position: relative;
    max-width: 1024px;
    padding-right: 40px;
    padding-left: 40px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}
.section1 .container .left
{
    margin-right: 1.5rem ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.section1 .container .left .lefth4
{
    font-weight: 600;
    line-height: 1.5;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}
.colorText
{
    color: rgb(79, 70, 229);
}
.right
{
    display: flex;
    height: 550px;
    padding-left: 50px;   
}
.section1 .container .left .leftText
{
    color :rgb(148, 163, 184);
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 36rem;
}
.left-inner
{
    margin-top: 1.5rem;
    display :flex;
    justify-content:flex-start;
}
.left-inner .started
{
    margin-right: .5rem;
    display: inline-block;
    border-width: 2px;
    padding: .15rem .9rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: .025em;
    color: rgb(255 255 255);
    background-color: rgb(79 70 229);
    border-radius: .375rem;
    margin-top: .5rem;
    text-decoration: inherit;
    transition-property: background-color;
    transition-duration: .5s;
    margin-right: 10px;
}
.left-inner .started:hover
{
    background-color: rgb(62, 56, 179);
}
.left-inner .document .document
{
    display: inline-block;
    border-width: 2px;
    margin-top: .5rem;
    padding: 0.5rem 1.75rem;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: .025em;
    color: rgb(79, 70, 229);
    border-color: rgb(79 70 229);
    border: 1px solid;
    border-radius: .375rem;
    text-decoration: inherit;
    transition-property: background-color, color;
    transition-duration: .5s;



}
.left-inner .document:hover .document
{
    background-color: rgb(62, 56, 179);
    color: #fff;
}
.section2
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: rgb(243 244 246);
    border-top: 1px solid rgb(243 244 246);
    border-bottom: 1px solid rgb(243 244 246);
}
.logo img
{
    width: 100%;
    height: auto;
}
.section3
{
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: rgb(249, 250, 251);
    position: relative;
}
.container2
{
    position: relative;
    max-width: 1024px;
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'Nunito Sans', sans-serif;
}
.text2
{
    line-height: 1.5;
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-align: center;
}
.container .image
{
    display: flex;
    padding-right: 50px;
    height: 470px;
}
.text3
{
    color: rgb(148 163 184);
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.625;
    text-align: center;
    font-size: 1rem;
}
.rightText
{
    display: flex;
    align-items: center;

}
.rightText .text2
{
    text-align: left !important;
}

.rightText .text3
{
    text-align: left!important;
}
.list
{
    list-style-type: none;
    margin-top: 1.5rem;
}
.flexList
{
    display: flex;
    margin-bottom: .25rem;
    
}
.findoutlink
{
    position: relative;
    border-style: none;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    letter-spacing: .025em;
    color: rgb(79 70 229);
    text-decoration: inherit;
    cursor: pointer;
}
.findoutlink::after{
    position: absolute;
    content:'';
    left: 0;
    height:25px;
    width: 0;
    border-bottom: solid 3px rgb(79 70 229);
    transition: all .5s;
}
.findoutlink:hover::after
{
    width: 100%;
}
.padding
{
    padding-top: 6rem;
    padding-bottom: 6rem;
}